.card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
}

.card img:hover {
  transform: scale(1.05);
}

.cardContent {
  padding: 16px;
}

.cardTitle {
  margin: 0 0 10px;
  font-size: 16px;
}

.cardText {
  margin: 0;
  color: #666;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardTag {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cardTag ion-icon {
  font-size: 16px;
}

.span {
  color: #666;
  font-size: 14px;
}

.card-wrapper {
  margin-top: 10px;
}

.cardBadges {
  display: flex;
  gap: 10px;
}

.cardBadge {
  background-color: var(--bg-prussian-blue);
  max-width: max-content;
  color: var(--text-white);
  padding: 2px 11px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
  margin-bottom: 10px;
}

.cardBadge:is(:hover, :focus-visible) {
  transform: translateY(-2px);
  background-color: var(--bg-carolina-blue);
}
